<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anika.newprojectzy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".retrofit.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".advokat.AdvokatActivity"
            android:label="@string/title_activity_advokat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".advokat.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".advokat.FullActivity"
            android:label="@string/title_activity_full"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".valuta.ValutaActivity"
            android:label="@string/title_activity_valuta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".action.ListActionActivity"
            android:label="@string/title_activity_list_action"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".action.InfoShopsActivity"
            android:label="@string/title_activity_info_shops"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".taxi.TaxiActivity"
            android:label="@string/title_activity_taxi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addAdvertising.AddAdvertisingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AddAdverist" />
        <activity
            android:name=".advertising.AdvertisingListActivity"
            android:label="@string/title_activity_advertising_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".advertising.InfoAdvertisingActivity"
            android:label="@string/title_activity_info_advertising"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllInfoActivity"
            android:label="@string/title_activity_all_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reminder.AddNoteActivity"
            android:label="@string/title_activity_add_note"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name=".reminder.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".reminder.OnAlarmReceiver" />

        <service android:name=".reminder.ReminderService" />
        <service android:name=".speech.SpeechService" />

        <activity
            android:name=".favorite.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>